! Cursor
Xcursor.theme: Breeze_Snow
Xcursor.size: 16

! URXVT
! Miscellany
URxvt.internalBorder: 20
URxvt.geometry: 80x24
URxvt.scrollBar: false
URxvt*buffered: false
urxvt*depth: 32
URxvt*background: [95]#1B1B1B

! Fonts
URxvt.font: xft:Mononoki:size=11

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Colours

! Blacks
! Crayola Eerie black: #1B1B1B
! Crayola Licorice: #1A1110
! Pantone Black C: #2D2926 

! special
*.foreground:   #d1d1d1
*.background:   #1d1f21
*.cursorColor:  #d1d1d1

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #ff3a6a
*.color9:       #ff6188

! green
*.color2:       #95d457
*.color10:      #a9dc76

! yellow
*.color3:       #ffc92b
*.color11:      #ffd866

! blue
*.color4:       #568de2
*.color12:      #78a4e8

! magenta
*.color5:       #6146e7
*.color13:      #ab9df2

! cyan
*.color6:       #56d3e2
*.color14:      #78dce8

! white
*.color7:       #f8f8f2
*.color15:      #f9f8f5
